env:
  game: 'Acrobot-v1'
  stack_len: 2
  seed: 1314121
  solved_criteria: -92
  q_threhold: 0
  pomdp: False
  pomdp_type: 'delete_dim'  # flickering|delete_dim
  # pomdp_mask: [1, 0, 1, 0]  # this mask is chosen depended on the hiding dimensions and the observation shape of the env (i.e. 0)
  pomdp_prob: 0.7
  mode: 0

model:
  model_file: 'acrobot_dqn.pt'
  hidden_dim: 32
  enable_dueling: False
  dueling_type: 'avg'
  dtype: 'torch.float32'

memory:
  size: 100000
  a: 0.6
  b: 0.4

env_type: 'gym'
model_type: 'drqn_fc'
memory_type: 'random'
agent_type: 'drqn'
mode: 'train'  # train|test
value_criteria: 'smooth_l1_loss'
optimizer: 'Adam'
train_visualize: False
retrain: True
solved_stop: True

random_eps: 0
episodes: 5000
drqn_n_step: 2
steps: 22000000  # max possible steps
learn_start: 5000
gamma: 0.99
clip_grad: 1.0
lr: 0.001
lr_decay: False
eps_start: 1.0
eps_decay: 4000
eps_end: 0.1
prog_freq: 100
target_model_update: 500
batch_size: 32
train_interval: 4
log_window_size: 100
test_nepisodes: 1
log_step_interval: 1000
log_episode_interval: 10
use_tensorboard: False
bootstrap_type: 'double_q'  # learn_q|target_q|double_q