env:
  game: 'Breakout-v0'
  seq_len: 4
  seed: 1314121
  solved_criteria: 30
  pomdp: False
  pomdp_type: 'flickering'  # flickering|delete_dim
  pomdp_mask: [1, 0, 1, 0]  # this mask is chosen depended on the hiding dimensions and the observation shape of the env (i.e. 0)
  pomdp_prob: 0.7
  mode: 0

model:
  model_file: 'breakout_dqncnn.pt'
  enable_dueling: False
  dueling_type: 'avg'
  dtype: 'torch.float32'

memory:
  size: 10000

env_type: 'atari'
model_type: 'dqn_cnn'
memory_type: 'random'
agent_type: 'dqn'
mode: 'train'  # train|test
train_visualize: True
retrain: True
solved_stop: True

value_criteria: 'MSELoss'
optimizer: 'Adam'
steps: 100000
learn_start: 1000
gamma: 0.99
clip_grad: 1.0
lr: 0.0001
lr_decay: False
eps_start: 1.0
eps_decay: 50000
eps_end: 0.1
prog_freq: 2500
target_model_update: 100
batch_size: 32
run_avg_nepisodes: 100
test_nepisodes: 1
log_step_interval: 100
log_episode_interval: 10
enable_double_dqn: True