env:
  game: 'CartPole-v1'
  seq_len: 1
  seed: 1314121
  solved_criteria: 195
  pomdp: True
  pomdp_type: 'delete_dim'  # flickering|delete_dim
  pomdp_mask: [1, 1, 1, 0]  # this mask is chosen depended on the hiding dimensions and the observation shape of the env (i.e. 0)
  pomdp_prob: 0.7
  mode: 0

model:
  model_file: 'cartpole_drqn.pt'
  hidden_dim: 32
  num_lstm_layer: 1
  enable_dueling: False
  dueling_type: 'avg'
  dtype: 'torch.float32'

memory:
  size: 100000
  max_episode_length: 200

env_type: 'gym'
model_type: 'drqn_fc'
memory_type: 'episodic'
agent_type: 'drqn'
mode: 'train'  # train|test
value_criteria: 'MSELoss'
optimizer: 'Adam'
train_visualize: False
retrain: True
solved_stop: True

random_eps: 10
drqn_n_step: 3
steps: 30000
learn_start: 1000
gamma: 0.99
# clip_grad: 1.0
lr: 0.001
lr_decay: False
eps_start: 0.8
eps_decay: 30000
eps_end: 0.01
prog_freq: 1000
target_model_update: 0.05
batch_size: 4
train_interval: 1
run_avg_nepisodes: 100
test_nepisodes: 1
log_step_interval: 100
log_episode_interval: 10
enable_double_dqn: True